// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Kdam Thmor Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$auth-button-bg-color: #ff0000;
$auth-button-color: #ffffff;
$element-height: 45px;
